[submodule "the_comments_base"]
	path = the_comments_base
	url = git@github.com:TheComments/the_comments_base.git
	branch = master
[submodule "the_comments_subscriptions"]
	path = the_comments_subscriptions
	url = git@github.com:TheComments/the_comments_subscriptions.git
	branch = master
[submodule "the_comments_manager"]
	path = the_comments_manager
	url = git@github.com:TheComments/the_comments_manager.git
	branch = master
[submodule "the_comments_antispam_services"]
	path = the_comments_antispam_services
	url = git@github.com:TheComments/the_comments_antispam_services.git
	branch = master
